<% include ./partials/header %>

<div class='landing-wrapper'>

  <div class='container'>

    <h1>Welcome to Find.Eat.Drink.Repeat</h1>

    <a class='btn primary btn-lg' href='/restaurants'>View all restaurants</a>

  </div>

</div>



<% include ./partials/footer %>
