.navbar-default
  background $white
  border none
  box-shadow $shadow
  margin 0
  padding 10px 0

  .navbar-toggle
    border none

  .navbar-brand
    color $black

    &:hover
      color $black

  .navbar-nav
    li
      a
        color $black
        transition all 400ms

        &:hover,
        &:active
          color $primary