/**
 * Config
 * ------
 * Variables for default
 * styling across site.
 */

$english = 'Roboto', sans-serif

$font-size = 16px

$primary   = #e74c3c
$secondary = #FBE56A

$white = #fff
$black = #000

$text = $black

$shadow = 0 0px 40px 0 rgba(#000, .1)

$max-width = 1150px
$mobile    = 1000px